
/* Generic Stettings */
@font-face { font-family: 'ZenDots-Regular'; 
    src: url(/Font/Zen_Dots/ZenDots-Regular.ttf) 
} 
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald','Open Sans', sans-serif;
    font-family: pop;
    font-family: 'ZenDots-Regular';
    font-weight: 300;
}
.imagesBox{
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}
/* ------------------------------Scroll Animation */

@keyframes fade {
    from {
        opacity: 0;

    }
    to{
        opacity: 1;

    }
}
.firstDivFirstBox, .secondtDivFirstBox, .firstDivSecondBox, .secondtDivSecondBox{
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}
.centerDivFirstBox, .centerDivSecondBox{
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
.secondtDivFirstBox{
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 70% cover 40%;
}
.secondtDivSecondBox{
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 60%;
}

.blackBox{
    animation: reveal both linear;
    animation-timeline: view();
    animation-range: entry 40% cover 30%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

@keyframes reveal{
    
    0% {
        transform: translateY(10%)
    }
    100%{
        transform: translateY(-10%);
    }
}




/*----------------------------------- Header */
header{

}
.desktopHeader{
    position: fixed;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top:0;
    z-index: 10;
}

.menuDesktopLeft{
    display: flex;
    width: 2%;
    justify-content: flex-start;
}
.menuDesktopNav{
    width: 450px;
    margin-right: 3%;
}
.menuList{
    display: flex;
    justify-content: space-between;
}
h1{
    min-width: 150px;
    max-width: 15%;
    margin-left: 20px;
}
.textLogoFluo{
    width: 100%;
    padding-top: 10px;
}
.logoSocialBox{
    scale: 0.55;
    display: flex;
    align-items: center;
}

.logoRS{
    margin-left: 15%;
}
.logoRS:hover{ /* --------------Logo RS Zoom */
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.35);
    transition: 1s;
    cursor: pointer;
}
.logoYT{
    scale:1.1;
    margin-top: 5px;
}
li{
    color: white;
    display: flex;
    text-decoration: none;
}

/* --------------------Menu Desktop Underline Effect */
.menuList a {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
.menuList a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(230, 230, 230);
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
  }
  
.menuList a:hover::after,
.menuList a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  /*------------------------ Menu BURGER */
.menuBuger{
    position: fixed;
    right: 2em;
    top: 3.1em;
    z-index: 12;
     display: none;
}
#toggle {
    display: none;
}

/* ---------------Hambuger Icon */

.hamburger {
    position: absolute;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
}
.hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #f8982b;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;

}

/* ---------------Nav Styles */

.navBurger {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000bb;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 4;
    backdrop-filter: blur(5px);
  }
.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    display: flex;
    
    justify-content: center;
    
}
.nav-wrapper nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
  
    
}
.nav-wrapper nav a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    display: inline-block;
    margin-top: 2em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
}
.nav-wrapper nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}
.nav-wrapper nav a:hover {
    color: white;
}
.nav-wrapper nav a:hover:before {
    height: 100%;
}

/* ----------------Animations */

#toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
#toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
}
#toggle:checked + .hamburger + .navBurger {
    top: 0;
    transform: scale(1);
}


/* -----------------------------------------Main */
/* --------------------Image Parallax */


body{
    background-image: url(/Images/vecteezy_circle-turing-pattern-vector-background_10009713_947/circle_turing_gray2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallaxBox{
    height: 40vw;
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
.logoFluo{
    transition: 2s;
    position: relative;
    z-index: 2;
    margin-right: 26px;
    bottom:45px;
    scale: 0.8;
}
.logoFluo:hover{ /* ----------Logo Center Zoom */
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    filter: drop-shadow(16px 16px 20px rgb(197, 151, 90)) blur(50px);
    transition: 7s;
}
/* .logoZoomBox{
    margin-top: 64px;
    width: 1500px;
    height: 1500px;
    overflow:hidden;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
} */

/*----------------------------------------------- Section 1 */
.mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.blackBox{
    background-color: rgba(0, 0, 0, 0.932);
    width: 80%;
    margin-bottom: 4vw;
    box-shadow: 0px 10px 20px 7px rgba(0,0,0,0.83);
    -webkit-box-shadow: 0px 10px 20px 7px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px 10px 20px 7px rgba(0,0,0,0.83);
}

/* ------------------------------First Box */

.firstBoxContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-around;
}
.firstDivFirstBox{
    color: white;   
    width: 25vw;
    min-width: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2vw;
}
.descriptionOne{
   width: 75%;
   text-align: center;
}
.firstDivFirstBox p{
    line-height: 2em;
    font-size: 24px;
    font-weight: 700;
}
.firstDivFirstBox img{
    width: 80%;
    margin-bottom: 4%;
}
h2, h3, h4, h5{
    font-size: 26px;
    font-weight: 600;
}


.secondtDivFirstBox{
    color: white;
    line-height: 1.8em;
    font-size: 22px;
    /* width: 33%; */
    width: 25vw;
    min-width: 360px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 0.7em;
    padding-bottom: 2em;
}
.secondtDivFirstBox P{
    font-size: 24px;
}
.secondtDivFirstBox img{
    width: 100%;
    margin-top: 4%;
}
.descriptionTwo{
    text-align: center;
}
.descriptionTwo p{
    font-weight: 700;
}
.centerDivFirstBox{
    width: 17vw;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}
.centerDivFirstBox img{
    width: 17vw;
    min-width: 250px;
}

/* -----------------------------Second Box                  -> Réunir les class first et second box qui peuvent l'être*/              

.secondBoxContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-around;
}
.firstDivSecondBox{
    color: white;   
    width: 25vw;
    min-width: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2vw;
    
}
.descriptionOneSecondBox{
   width: 75%;
   text-align: center;
   margin-top: 1vw;
}
.firstDivSecondBox p{
    line-height: 2em;
    font-size: 24px;
    font-weight: 700;
}
.firstDivSecondBox img{
    width: 80%;
    margin-bottom: 4%;
}


.secondtDivSecondBox{
    color: white;
    line-height: 1.8em;
    font-size: 22px;
    width: 25vw;
    min-width: 450px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.secondtDivSecondBox P{
    font-size: 24px;
}
.secondtDivSecondBox img{
    width: 90%;
    margin-top: 4%;
}
.descriptionTwoSecondBox{
    text-align: center;
}
.descriptionTwoSecondBox p{
    font-weight: 700;
}
.centerDivSecondBox{
   width: 33%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.centerDivSecondBox img{
    width: 17vw;
    min-width: 250px;
}

/* ------------------------------Footer */

.globalFooter{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    color: white;
    font-weight: 700;
}
.topFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}
.contactTxt{
    font-weight: 700;
    font-size: 2em;
    color: #ffffff;
    border-bottom: 6px solid #ffffff;
    margin-top: 25px;
    width: 60%;
    text-align: center;
    font-size: 700;
    padding-bottom: 15px;
}
.contactTxt:hover {
    color: rgb(197, 151, 90);
    transition: 2s;
    border-color: rgb(197, 151, 90);
}
.logoFluoFooter{
    width: 230px;
    margin: 25px 0 25px 0;
}

.bottomFooter{
    display: flex;
    justify-content: space-around;
}
.sideFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-top: 20px;
    font-size: 17px;
    width: 40%;
}
.sideFooter p{
    margin: 0 0 25px 0;
}
.sideFooter a{
    color: rgb(253, 233, 207);
    
}
.sideFooter a:hover{
    cursor: pointer;
    color:rgb(197, 151, 90);
    transition: 0.6s;
}
.centerFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 50vw;
    font-size: 12px;
}
#rightFooter{
  
    text-align: center;

}
.textRightFooter {
    font-weight: 1200;
    font-size: 20px;
}

/* ----------------------------MEDIA QUERY-------------------------------*/

@media screen and (max-width: 800px){

    .menuBuger{     
        display: block;
    }
    .menuDesktopNav{
        display: none;
    }

    main{
        margin-bottom: 20vw;
    }
    /* Footer */

    .bottomFooter{
        display: flex;
        flex-wrap:wrap;
        padding: 7vw;
    }
    #rightFooter{
        margin-top: 1.2em;
    }
    /* parallax  zoom */

    .logoFluo{
        margin-right:0;
        top:35%;
        left:-1%;
        scale: 1.5 ;
    }
    .logoFluo:hover{ 
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        filter: drop-shadow(16px 16px 20px rgb(197, 151, 90)) blur(40px);
        transition: 7s;
    }
    /* ------- Black Box */

    .firstDivFirstBox{
        margin-top: 8vw;
        padding-bottom: 0;
    }
    .secondtDivFirstBox{
        margin-bottom: 7vw;
    }
    .descriptionTwo{
        margin-bottom: 2vw;
        margin-top: 1vw;
    }
    .centerDivFirstBox{
        margin-top: 5vw;
    }
    .firstBoxContent{
        padding-left:5em;
        padding-right: 5em;
    }
    /* Second box */
    .centerDivSecondBox{
        margin-top: 1vw;
    }
    .firstDivSecondBox{
        margin-top: 8vw;
    }
    .secondtDivSecondBox{
        margin-bottom: 8vw;
    }
    .descriptionTwoSecondBox{
        margin-bottom: 2vw;
        margin-top: 1vw;
    }
    .blackBox{
        margin-bottom: 10vw;
    }
    @keyframes reveal{
    
        0% {
            transform: translateY(30%)
        }
        100%{
            transform: translateY(10%);
        }
    }
}
/* ------------------------------------------------------------- SmartPhones <425px */

@media screen and (max-width: 425px){

    /* Header */

    .textLogoFluo{
        width: 30vw;
        padding-top: 15px;
    }
    .desktopHeader{
        height: 80px;
    }
    .logoSocialBox{
        margin-left: -20px;
    }
    h1{
        min-width: 0;
    }
    .logoRS:active, .logoRS:hover{ /* --------------Logo RS Zoom */
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        transition: 0;
        cursor: none;
    }
    .logoRS:active{ /* --------------Logo RS Zoom */
        background-color: #f8982b;
        transition: 0;
        border-radius: 15%;
    }
    .logoYT{
        scale:1.1;
        margin-top: 4px;
    }
    .hamburger{
        top:8px;
        left:-6px
    }
   

    /* parallax + zoom */

    .logoFluo{
        margin-right:0;
        top:40%;
        left:;
        scale: 1.3 ;
    }
    .logoFluo:hover{ 
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        filter:none;
        transition: 0s;
    }
    .logoFluo:active{ 
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        filter: drop-shadow(16px 16px 20px rgb(197, 151, 90)) blur(40px);
        transition: 10s;
    }


     /* Main */
    
    .firstDivFirstBox{  
        width: 25vw;
        min-width: 350px;
    }
    .firstDivFirstBox p{
        line-height: 1.7em;
    }
    .descriptionOne{
        margin-top: 20px;
    }
    h3{
        margin-top: 5px;
    }
    h2{
        margin-bottom: 3px;
    }
    .secondtDivFirstBox{
        line-height: 1.8em;
        min-width: 300px;
        padding-bottom: 1em;
        }  
    .firstDivSecondBox{
        width: 25vw;
        min-width: 350px;
    }
    .secondtDivSecondBox{
        line-height: 1.8em;
        width: 25vw;
        min-width: 320px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .descriptionTwo{
        margin-bottom: 30px;
    }
    .blackBox{
        width: 90%;
        margin-bottom: 15vw;
    }
    #secondBlackBox{
        margin-bottom: 30vw;
    }
    .centerDivFirstBox{
        margin-top: 50px;
        margin-bottom: 30px;
    }
   
    
    /* Footer */
    
    .bottomFooter{
        display: flex;
        flex-wrap:wrap;
        padding: 7vw;
    }
    #rightFooter{
        margin-top: 1.2em;
    }
    .sideFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        padding-top: 20px;
        font-size: 17px;
        width: 200px;
    }
    .sideFooter a:hover{
        cursor: none;
        color:rgb(197, 151, 90);
        transition: 0;
    }
    .sideFooter a:active{
        cursor: none;
        color:rgb(197, 151, 90);
        transition: 1.5s;
    }
    .descriptionOneSecondBox{
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .descriptionTwoSecondBox{
       margin-top: 30px;
       margin-bottom: 25px;
    }
}
/* --------------------------------button */

/* ul li a {
    color: white;
    text-decoration: none;
    margin: 7px;
}
ul li a:hover{
    color: #004e8d;
    cursor: pointer; 
} */

/* Contact button */

/* .contactButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    text-align: center;
    margin-bottom: 10px;
}
.contactButton:hover {
	background:linear-gradient(to bottom, #d6d6d6 5%, #a3a3a3 100%);
	background-color:#e9e9e9;
}
.contactButton:active {
	position:relative;
	top:1px;
} */

