
/* Generic Stettings */
@font-face { font-family: 'ZenDots-Regular'; 
    src: url(/Font/Zen_Dots/ZenDots-Regular.ttf) 
} 
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald','Open Sans', sans-serif;
    font-family: pop;
    font-family: 'ZenDots-Regular';
    font-weight: 300;
}
.imagesBox{
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

/* ------------------------------Scroll Animation */

@keyframes fade {
    from {
        opacity: 0;

    }
    to{
        opacity: 1;

    }
}
.firstDivFirstBox, .firstDivSecondBox{
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 30%;
}



#blackBoxOne{
    animation: revealOne both linear;
    animation-timeline: view();
    animation-range: entry 40% cover 50%; 
}
#secondBlackBox{
    animation: revealTwo both linear;
    animation-timeline: view();
    animation-range: entry 30% cover 30%;
}

@keyframes revealOne{
    
    0% {
        transform: translateY(15%)
    }
    100%{
        transform: translateY(-5%);
    }
}
@keyframes revealTwo{
    
    0% {
        transform: translateY(20%)
    }
    100%{
        transform: translateY(-15%);
    }
}


/*----------------------------------- Header */
header{

}
.desktopHeader{
    position: fixed;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top:0;
    z-index: 10;
}

.menuDesktopLeft{
    display: flex;
    width: 2%;
    justify-content: flex-start;
}
.menuDesktopNav{
    width: 450px;
    margin-right: 3%;
}
.menuList{
    display: flex;
    justify-content: space-between;
}
h1{
    min-width: 150px;
    max-width: 15%;
    margin-left: 20px;
}
.textLogoFluo{
    width: 100%;
    padding-top: 10px;
}
.logoSocialBox{
    scale: 0.55;
    display: flex;
    align-items: center;
}

.logoRS{
    margin-left: 15%;
}
.logoRS:hover{ /* --------------Logo RS Zoom */
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.35);
    transition: 1s;
    cursor: pointer;
}
.logoYT{
    scale:1.1;
    margin-top: 5px;
}
li{
    color: white;
    display: flex;
    text-decoration: none;
}

/* --------------------Menu Desktop Underline Effect */
.menuList a {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
.menuList a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(230, 230, 230);
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
  }
  
.menuList a:hover::after,
.menuList a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  /*------------------------ Menu BURGER */
.menuBuger{
    position: fixed;
    right: 2em;
    top: 3.1em;
    z-index: 12;
     display: none;
}
#toggle {
    display: none;
}

/* ---------------Hambuger Icon */

.hamburger {
    position: absolute;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
}
.hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #f8982b;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;

}

/* ---------------Nav Styles */

.navBurger {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000bb;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 4;
    backdrop-filter: blur(5px);
  }
.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    display: flex;
    
    justify-content: center;
    
}
.nav-wrapper nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
  
    
}
.nav-wrapper nav a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    display: inline-block;
    margin-top: 2em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
}
.nav-wrapper nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}
.nav-wrapper nav a:hover {
    color: white;
}
.nav-wrapper nav a:hover:before {
    height: 100%;
}

/* ----------------Animations */

#toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
#toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
}
#toggle:checked + .hamburger + .navBurger {
    top: 0;
    transform: scale(1);
}


/* -------------------------------Main */


body{
    background-image: url(/Images/organic_pattern_bw.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------------------------------------------- Section 1 */
.mainSection{
    display: flex;
    
}
.blackBox{
    background-color: rgba(0, 0, 0, 0.85);
    width: 80%;
    margin: 4vw;
    height: 100%;
    margin-top: 15vw;
    box-shadow: 0px 10px 20px 7px rgba(0,0,0,0.83);
    -webkit-box-shadow: 0px 10px 20px 7px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px 10px 20px 7px rgba(0,0,0,0.83);
}
.imagesBox{
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    width: 80%;
    margin-bottom: 4em;
    margin-top: 2em;
}

.titleBlackBox{
    font-size: 2em;
    margin-top: 2em;
    color: white;
    width: 40%;
    text-align: center;
}

/* ------------------------------First Box */


.firstBoxContent{
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-around;
}

.firstDivFirstBox{
    color: white;   
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2vw;
}
.descriptionOne{
    width: 70%;
    line-height: 1.3em;
    margin-bottom: 2.5em;
}

/* -----------------------------Second Box  */

.secondBoxContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-around;
}
.firstDivSecondBox{
    color: white;   
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2vw;
}
.descriptionOneSecondBox{
    width: 70%;
    margin-bottom: 3em;
    margin-top: 1em;
    line-height: 1.5em;
}
#secondBlackBox{
    margin-bottom: 8%;
    margin-top: 30vw;
}


/* -----------------------------------Footer */

.globalFooter{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    color: white;
    font-weight: 700;
}
.topFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}
.contactTxt{
    font-weight: 700;
    font-size: 2em;
    color: #ffffff;
    border-bottom: 6px solid #ffffff;
    margin-top: 25px;
    width: 60%;
    text-align: center;
    font-size: 700;
    padding-bottom: 15px;
}
.contactTxt:hover {
    color: rgb(197, 151, 90);
    transition: 2s;
    border-color: rgb(197, 151, 90);
}
.logoFluoFooter{
    width: 230px;
    margin: 25px 0 25px 0;
}

.bottomFooter{
    display: flex;
    justify-content: space-around;
}
.sideFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-top: 20px;
    font-size: 17px;
    width: 40%;
}
.sideFooter p{
    margin: 0 0 25px 0;
}
.sideFooter a{
    color: rgb(253, 233, 207);
    
}
.sideFooter a:hover{
    cursor: pointer;
    color:rgb(197, 151, 90);
    transition: 0.6s;
}
.centerFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 50vw;
    font-size: 12px;
}
#rightFooter{
  
    text-align: center;

}
.textRightFooter {
    font-weight: 1200;
    font-size: 20px;
}